@media only screen and (min-width: 1024px) {
    header#main-header {
        grid-template-columns: 90% 10%;
        grid-template-rows: 65% 35%;
        padding: 0;
        background-color: white;
    }

    .ham {
        display: none;
    }

    nav {
        grid-row: 2/3;
        align-self: end;
        background-color: white;
    }

    #logo {
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: center;
        background-color: #7a2843;
        width: 100%;
    }

    #logo img {
        width: 15%;
    }

    #navigation {
        color: #7a2843;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 50%;
    }

    #navigation li {
        display: block;
        padding: 0;
        font-size: 2em;
    }

    #navigation li.active {
        border: none;
        background-color: #7a2843;
    }

    #navigation li.active a {
        color: white;
    }

    #navigation li:hover {
        background-color: #7a2843;
        /* box-shadow: 3px 5px 3px lightgray; */
    }

    #navigation li a:hover {
        color: white;
    }

    #navigation li a {
        color: #7a2843;
        width: 100%;
        height: 100%;
        display: block;
    }

    #shopping-cart {
        margin: 0;
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: white;
        justify-self: center;
        align-self: center;
        /* width: 100%; */
        /* display: block; */
    }

    #shopping-cart a {
        color: #7a2843;
        display: block;
        /* font-size: 2em; */
    }

    #shopping-cart a span {
        /* font-size: 1.5em; */
        display: block;
        font-size: 2em;
    }

    .hero {
        height: fit-content;
        grid-template-rows: 60% 40%;
        grid-template-columns: 1fr 1fr;
    }

    .hero picture {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    /* .hero img {
        height: 70%;
    } */

    .hero .content-box {
        display: block;
        width: 70%;
        height: 10em;
        text-align: center;
        /* background-color: rgba(0,0,0,.3); */
        color: white;
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: end;
        justify-self: center;
    }

    .hero .content-box h2 {
        font-size: 2em;
    }

    .hero .content-box .button {
        font-size: 1.5em;
        padding: .5em 1em;
    }

    .hero #small-btn {
        display: none;
    }

    .content div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 1em 1em;
    }

    .content img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 650px;
        align-self: center;
        justify-self: center;
    }

    .content div p {
        grid-column: 2/3;
        grid-row: 1/2;
        color: black;
        width: 700px;
        justify-self: center;
    }

    .info-box {
        margin: 1em 1em;
    }

    .info-box h2 {
        font-size: 3em;
    }

    .info-box p {
        font-size: 1.5em;
    }

    #shop-now {
        margin: 1em 1em;
    }

    #shop-now .content-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #shop-now .content-box img {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;

        width: 650px;
    }

    #shop-now .content-box div {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        font-size: 1.5em;

        /* background-color: #EBEBEB; */
    }  
    
    #shop-now .content-box div h3 {
        color: black;
    }

    #shop-now .button {
        border: 2px solid #7a2843;
    }

    /* Order styles */
    #hoodie-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #progress-bar {
        width: 80%;
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-self: center;
    }

    #product-image img {
        height: 500px;
        object-fit: cover;
    }

    #product-selection {
        align-items: center;
    }
}