@media only screen and (min-width: 1024px) {
    header#main-header {
        grid-template-columns: 1fr;
        grid-template-rows: 80% 20%;
        padding: 0;
    }

    #logo {
        grid-row: 1/2;
        grid-column: 1/-1;
        text-align: right;
    }

    #logo img {
        width: 20%;
    }

    nav {
        align-self: end;
        background-color: white;
    }

    #navigation {
        color: #7a2843;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        width: 50%;
    }

    #navigation li {
        display: block;
        padding: 0;
        font-size: 2em;
    }

    #navigation li.active {
        border: none;
        background-color: #7a2843;
    }

    #navigation li.active a {
        color: white;
    }

    #navigation li:first-of-type {
        display: none;
    }

    #navigation li:hover {
        background-color: #7a2843;
        /* box-shadow: 3px 5px 3px lightgray; */
    }

    #navigation li a:hover {
        color: white;
    }

    #navigation li a {
        color: #7a2843;
        width: 100%;
        height: 100%;
        display: block;
    }

    .hero {
        height: fit-content;
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: 1fr 1fr;
    }

    .hero picture {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    .hero img {
        height: 70%;
    }

    .hero .content-box {
        display: block;
        width: 60%;
        height: 10em;
        text-align: center;
        /* background-color: rgba(0,0,0,.3); */
        color: white;
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: center;
        justify-self: center;
    }

    .hero #small-btn {
        display: none;
    }
}