body {
    font-family: Arial, Helvetica, sans-serif;
}

header#main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background-color: #7a2843;
    color: white;

    padding: .75em;
}

#navigation {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: none;
    font-size: 1.25em;
    padding: .3em;
}

#navigation.responsive li {
    display: block;
}

#navigation li:first-of-type {
    display: block;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#logo {
    justify-self: end;
    align-self: start;
    width: 70%;
}

#logo img {
    width: 100%;
}

.hero {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.hero a {
    grid-row: 3/4;
    grid-column: 1/-1;
    align-self: end;
    justify-self: center;

    background-color: #7a2843;
    color: white;
    text-decoration: none;
    text-align: center;

    height: fit-content;
    margin-bottom: 1em;
    margin-left: 1em;

    padding: .75em;
    border-radius: 1em;
    border: none;
    width: 10em;

    cursor: pointer;
}

.hero a:hover {
    background-color: white;
    color: #7a2843;
}

.content div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content img {
    width: 100%;

    grid-row: 1/-1;
    grid-column: 1/-1;

    transition: 1s;
}

.content.blurred img {
    filter: blur(.25em);
}

.content div p {
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: center;
    color: transparent;
    font-size: 2em;
    text-align: center;

    z-index: 100;
    /* display: none; */
    transition: 1s;
}

.content.blurred div p {
    /* display: block; */
    text-shadow: black;
    color: white;
}

/* Products styles */
.products-header {
    background-color: #CDC3BB;
    text-align: center;
    padding: 1em;
    /* border-radius: 1.5em;
    width: 80%;
    margin: .75em auto; */
    /* box-shadow: 3px 3px 3px lightgray; */
}

.products-header h1 {
    margin: 0;
}

.product-designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    margin-top: 1em;
}

.product-designs img {
    width: 90%;
}

.product-designs p {
    margin-top: 0;
}