/* https://coolors.co/d3d3d3-7a2843-ffffff-000000-cdc3bb */

body {
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6, .button, #navigation li a, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

header#main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background-color: #1C4E5F;
    color: white;

    padding: .75em;
}

.ham {
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    width: fit-content;
}

nav {
    grid-column: 1/2;
    grid-row: 2/3;
}

#navigation {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    display: none;
    font-size: 1.25em;
    padding: .3em;
}

#navigation li.active {
    border: 1px solid white;
}

#navigation.responsive li {
    display: block;
}

#navigation a {
    text-decoration: none;
    color: white;
}

#logo {
    justify-self: center;
    align-self: start;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 40%;
}

#logo img {
    width: 100%;
}

#nav-phone {
    display: none;
}

footer {
    background-color: #1C4E5F;
    padding: 1em;
}

#footer-content {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
}

#footer-content .location a {
    color: white;
}

#footer-logo {
    text-align: center;
}

#footer-logo img {
    width: 50%;
}

footer .contact p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0 .5em;
    color: white
}

footer .contact a {
    display: block;
    /* padding: .5em .5em; */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer .social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    width: fit-content;
    justify-self: start;
    align-self: center;
}

footer .social img {
    width: 3.75em;
}

#footer-extra {
    display: grid;
    grid-template-columns: 1fr;
}

#footer-extra .copyright, #footer-extra .signature {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 0;
}

#footer-extra .copyright {
    grid-row: 2/3;
}

#footer-extra .signature a {
    color: white;
}

#footer-extra .signature {
    grid-row: 1/2;
    justify-self: center;
}

.hero {
    display: grid;
    grid-template-rows: repeat(3, 33%);
}

.hero img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.hero picture {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.hero .content-box {
    display: none;
}

.button {
    grid-row: 3/4;
    grid-column: 1/-1;
    align-self: end;
    justify-self: center;

    background-color: #838B4B;
    color: white;
    text-decoration: none;
    text-align: center;

    height: fit-content;
    margin-bottom: 1em;
    margin-left: 1em;

    padding: .75em;
    border-radius: 1em;
    border: none;
    width: 10em;

    cursor: pointer;
    transition: 200ms;
}

.button:hover {
    background-color: white;
    color: #1F333C;
}

.content div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content img {
    width: 100%;

    grid-row: 1/-1;
    grid-column: 1/-1;

    transition: .5s;
}

.content.blurred img {
    filter: blur(.25em);
}

.content div p {
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: center;
    color: transparent;
    font-size: 2em;
    text-align: center;

    z-index: 100;
    /* display: none; */
    transition: .5s;
}

.content.blurred div p {
    /* display: block; */
    text-shadow: black;
    color: white;
}

.info-box {
    text-align: center;
    background-color: #1F333C;
    /* width: 90%; */
    margin: 1em auto;
    padding: .5em;
}

.info-box h2 {
    margin-bottom: 0;
    margin-top: .3em;
    font-family: 'Playfair Display', serif;
    color: white
}

.info-box p {
    /* text-align: left; */
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: white
    /* margin: .2em; */
}

/* .info-box div {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

#shop-now div img {
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/-1;
}

#shop-now .content-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#shop-now div h3 {
    color: white;
    margin-bottom: 1em;
    font-size: 1.5em;
}

#shop-now .content-box div {
    grid-row: 2/3;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#shop-now .content-box div .button {
    margin: 0;
}

/* Products styles */
.products-header {
    background-color: #1F333C;
    text-align: center;
    padding: 1em;
    /* border-radius: 1.5em;
    width: 80%;
    margin: .75em auto; */
    /* box-shadow: 3px 3px 3px lightgray; */
}

.products-header h1 {
    margin: 0;
}

.product-designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    margin-top: 1em;
}

.product-designs img {
    width: 90%;
}

.product-designs p {
    margin-top: 0;
}

/* Order styles */
#progress-bar {
    margin: 1em 0;
}

#progress-bar #bars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1em;
    justify-content: center;
    cursor: pointer;
}

.progress {
    border: 2px solid #EBEBEB;
    border-radius: 1em;
    width: 95%;
    height: 100%;
    justify-self: center;
}

.progress.filled {
    background-color: #246EB9;
}

.progress.in-progress {
    background-color: #88B8E7;
}

#progress-labels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: .75em;
}

#progress-labels h4 {
    margin: .3em 0;
    width: 95%;
    justify-self: center;
}

#product-image {
    width: 80%;
    margin: 0 auto;
}

#product-image img {
    width: 100%;
}

#product-selection {
    width: 95%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

#product-selection img {
    width: 100%;
    border: 1px solid #1F333C;
}

#product-next {
    /* text-align: center; */
    margin: 1em auto;
    width: 10em;
    display: block;
    border: 1px solid #838B4B;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    transition: 300ms;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #246EB9;
    transform: scale(1.1);
  }